/*
* 基础
*/
a {
    color: #0f0f0f;
    text-decoration: none;
}

/*
*轮播
*/

/* 轮播图 */
.lb_box .img {
    width: 100%;
}

.lb_box {
    width: 100%;
    height: 30vw;
}

.lb_imgbox {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.lb_imgleft {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    transition: left 0.3s linear;
}

.lb_img {
    width: 600%;
    height: 100%;
    display: flex;
    padding: 0;
}

.lb_li {
    list-style: none;
    display: block;
    width: 100vw;
    height: 100%;
    margin: 0;
}

.lb_point {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.li_ol {
    display: flex;
    justify-content: center;

}

.lb_olli {
    list-style: none;
    border: 1px solid snow;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
}

.lb_olli_color {
    background-color: red;
}

@media screen and (max-width: 599px) {
    .lb_btn {
        display: none;
    }

    .lb_box {
        height: 40vw;
    }
}

.lb_btn {
    position: absolute;
    top: 30%;
    height: 40%;
    border: none;
    width: 3vw;
    z-index: 1;
}

.lb_btnl {
    left: 0;
}

.lb_btnr {
    right: 0;
}

/*
* main
*/

.item .title span {
    width: 150px;
    margin-left: -50px;
    top: 16px;
}
.products-group .row .img {
    width: 100%;
}